{% extends 'base.html.twig' %}

{% block title %}New Evenements{% endblock %}

{% block body %}
    <!-- Javascript files-->
    <div class="header_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div><a href="index.html"><img src="{{ asset('images/logo.png') }}"></a></div>
                </div>
                <div class="col-md-8">
                    <div class="menu_text">
                        <ul>
                            <li class="last">Log in / Register</li>
                            <li class="last"><a href="#"><img src="{{ asset('images/search-icon.png') }}"></a></li>
                            <li class="active">
                                <div id="myNav" class="overlay">
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                    <div class="overlay-content">
                                        <a href="index.html">Home</a>
                                        <a href="about.html">evenement</a>
                                        <a href="gallery.html">Gallery</a>
                                        <a href="contact.html">Contact</a>
                                    </div>
                                </div>
                                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
                    </div>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="banner_main">
            <div class="container">
                <div class="ram">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="taital">Best viaggio </h1>
                            <p class="consectetur_text"> </p>
                            <div class="banner_bt">
                                <button class="read_bt">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <h1 class="numbar_text">01</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- section banner end -->
    <!-- section about start -->
    <div class="about_section">
        <div class="about_text">
            <div class="container">
                <h1 class="about_taital_1"><strong><span style="color: #f7941d;">evenement</span> </strong></h1>
                <p class="magna_text"> </p>
                <div class="about_bt">
                    <button class="more_bt">Read More</button>
                </div>
                <div class="about">
                    <h1 class="numbar_text">02</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- section about end -->
    <!-- section gallery start -->
    <div class="gallery_main layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="about_taital"><strong><span style="color: #ffffff;"> </span> </strong></h1>
                    <p class="sed_text"> </p>

                </div>
            </div>
            <div class="gallery_images">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="gallery_blog">
                            <img src="images/gallery-img1.jpg" style="max-width: 100%; height: 300px; width: 100%;">
                            <div class="overlay">
                                <div class="text"><strong>PuppyDogPetAnimal</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="gallery_blog">
                            <img src="{{ asset('images/gallery-img2.jpg') }}" style="max-width: 100%; height: 300px; width: 100%;">
                            <div class="overlay">
                                <div class="text"><strong>PuppyDogPetAnimal</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery_images">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="gallery_blog">
                            <img src="{{ asset('images/gallery-img3.jpg') }}" style="max-width: 100%; width: 100%;">
                            <div class="overlay">
                                <div class="text"><strong>PuppyDogPetAnimal</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="gallery_blog">
                            <img src="{{ asset('images/gallery-img4.jpg') }}" style="max-width: 100%; height: 300px; width: 100%;">
                            <div class="overlay">
                                <div class="text"><strong>PuppyDogPetAnimal</strong></div>
                            </div>
                        </div>
                        <div class="gallery_blog">
                            <img src="{{ asset('images/gallery-img5.jpg') }}" style="max-width: 100%; height: 297px; width: 100%;">
                            <div class="overlay">
                                <div class="text"><strong>PuppyDogPetAnimal</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery_section_2">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="pet_taital"> </h1>
                    <p class="lorem_text"> </p>
                    <div class="banner_bt">
                        <button class="dog_bt">Read More</button>
                    </div>
                    <div class="box_3">
                        <h1 class="numbar">03</h1>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="dog_img"><img src="{{ asset('images/dog-img.png') }}" style="max-width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- section gallery end -->
    <!-- section get in touch start -->
    <div class="touch_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="get_taital"><strong><span style="color: #ffffff;">Evenements </span>  index</strong></h1>
                </div>
            </div>
            <div class="email_box">


                <h1>Create new Evenements</h1>

                {{ include('evenements/_form.html.twig') }}

                <a href="{{ path('evenements_index') }}">back to list</a>

            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!-- section get in touch end -->

    <!-- section footer start -->
    <div class="section_footer">
        <div class="container">
            <div class="mail_section">
                <ul>
                    <li class="footer-logo"><img src="{{ asset('images/footer-logo.png') }}"></li>
                    <li class="footer-logo"><img src="{{ asset('images/map-icon.png') }}"><span class="map_text">Gb road 123 london Uk</span></li>
                    <li class="footer-logo"><img src="{{ asset('images/call-icon.png') }}"><span class="map_text">(+71) 9876543210</span></li>
                    <li class="footer-logo"><img src="{{ asset('images/email-icon.png') }}"><span class="map_text">Demo@gmail.com</span></li>
                </ul>
            </div>
            <div class="footer_section_2">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h2 class="shop_text"> Pet Shop </h2>
                        <p class="dummy_text">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and </p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h2 class="shop_text">Useful Links</h2>
                        <div class="image-icon"><img src="{{ asset('images/bulit-icon.png') }}"><span class="pet_text">Pet Dictionary</span></div>
                        <div class="image-icon"><img src="{{ asset('images/bulit-icon.png') }}"><span class="pet_text">Help Links</span></div>
                        <div class="image-icon"><img src="{{ asset('images/bulit-icon.png') }}"><span class="pet_text">Pet Attitudes</span></div>
                        <div class="image-icon"><img src="{{ asset('images/bulit-icon.png') }}"><span class="pet_text">Call a Doctor</span></div>
                        <div class="image-icon"><img src="{{ asset('images/bulit-icon.png') }}"><span class="pet_text">Help a Pet</span></div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h2 class="shop_text">Overview</h2>
                        <div class="image-icon"><img src="{{ asset('images/bulit-icon.png') }}"><span class="pet_text">Bacerim Dictionary</span></div>
                        <div class="image-icon"><img src="{{ asset('images/bulit-icon.png') }}"><span class="pet_text">Help Links</span></div>
                        <div class="image-icon"><img src="{{ asset('images/bulit-icon.png') }}"><span class="pet_text">bacerim Attitudes</span></div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h2 class="adderess_text">Instagram</h2>
                        <div class="footer-img">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="footer-img"><img src="{{ asset('images/footer-img1.png') }}" style="width: 100%;"></div>
                                    <div class="footer-img"><img src="{{ asset('images/footer-img2.png') }}" style="width: 100%;"></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="footer-img"><img src="{{ asset('images/footer-img3.png') }}" style="width: 100%;"></div>
                                    <div class="footer-img"><img src="{{ asset('images/footer-img4.png') }}" style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social-icon">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="icons">
                            <ul>
                                <li><a href="#"><img src="{{ asset('images/fb-icon.png') }}"></a></li>
                                <li><a href="#"><img src="{{ asset('images/twitter-icon.png') }}"></a></li>
                                <li><a href="#"><img src="{{ asset('images/google-icon.png') }}"></a></li>
                                <li><a href="#"><img src="{{ asset('images/linkedin-icon.png') }}"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">2019 All Rights Reserved. <a href="https://html.design">Free html Templates</a></div>
        </div>
    </div>
    </div>


{% endblock %}
