{% extends 'base.html.twig' %}

{% block title %}Messenger index{% endblock %}

{% block body %}
    <h1>Messenger index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_exp</th>
                <th>Id_recp</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for messenger in messengers %}
            <tr>
                <td>{{ messenger.id }}</td>
                <td>{{ messenger.idExp }}</td>
                <td>{{ messenger.idRecp }}</td>
                <td>{{ messenger.message }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('messenger_new') }}">Create new</a>
{% endblock %}
