{% extends 'basefront.html.twig' %}

{% block title %}Post{% endblock %}


{% block body %}

    {{ include('head.html.twig')  }}

{% for messenger in messengers %}
<tr>
    </br>
    <td>   {% if(messenger.idExp !=1)%}                         <h6 style="color: #bd2130">  <b> &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp;
                    &nbsp;&nbsp; {{ messenger.message }}  </b> </h6> {% endif%}</td>
    <td>
        {% if(messenger.idExp ==1)%}

            <form method="post" action="{{ path('messenger_delete', {'id': messenger.id}) }}" onsubmit="return confirm('Are you sure you want to delete this message?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ messenger.id) }}">
                 <h6 style="color: #003eff"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b> {{ messenger.message }}    &nbsp;  <button class="btn">X</button>  </b> </h6>

    </form>
        {% endif%}
    </td>
    </br>

</tr>

{% endfor %}
</br>
</tbody>
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn">{{ button_label|default('send') }}</button>
{{ form_end(form) }}
</div>
    </div>
    </div>

    {{ include('footer.html.twig')  }}
    {% endblock %}
