{% extends 'base.html.twig' %}

{% block title %}New Messenger{% endblock %}

{% block body %}

<div class="header_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div><a href="index.html"><img src="{{ asset('images/logo.png') }}"></a></div>
            </div>
            <div class="col-md-8">
                <div class="menu_text">
                    <ul>
                        <li class="last">Log in / Register</li>
                        <li class="last"><a href="#"><img src="{{ asset('images/search-icon.png') }}"></a></li>
                        <li class="active">
                            <div id="myNav" class="overlay">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                <div class="overlay-content">
                                    <a href="index.html">Home</a>
                                    <a href="about.html">About</a>
                                    <a href="gallery.html">Gallery</a>
                                    <a href="contact.html">Contact</a>
                                </div>
                            </div>
                            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
                </div>
                </li>
                </ul>
            </div>
        </div>
    </div>

<tbody>
<div class="email_box">
    <div class="input_main">
        <div class="container">
{% for messenger in messengers %}
<tr>
    </br>
    <td>   {% if(messenger.idExp !=1)%}                         <h6 style="color: #bd2130">  <b> &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp;
                    &nbsp;&nbsp; {{ messenger.message }}  </b> </h6> {% endif%}</td>
    <td>
        {% if(messenger.idExp ==1)%}

            <form method="post" action="{{ path('messenger_delete', {'id': messenger.id}) }}" onsubmit="return confirm('Are you sure you want to delete this message?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ messenger.id) }}">
                 <h6 style="color: #003eff"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b> {{ messenger.message }}    &nbsp;  <button class="btn">X</button>  </b> </h6>

    </form>
        {% endif%}
    </td>
    </br>

</tr>

{% endfor %}
</br>
</tbody>
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn">{{ button_label|default('send') }}</button>
{{ form_end(form) }}
</div>
    </div>
    </div>


    {% endblock %}
