{% extends 'base.html.twig' %}

{% block title %}Listeamis{% endblock %}

{% block body %}
<div class="header_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div><a href="index.html"><img src="{{ asset('images/logo.png') }}"></a></div>
            </div>
            <div class="col-md-8">
                <div class="menu_text">
                    <ul>
                        <li class="last">Log in / Register</li>
                        <li class="last"><a href="#"><img src="{{ asset('images/search-icon.png') }}"></a></li>
                        <li class="active">
                            <div id="myNav" class="overlay">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                <div class="overlay-content">
                                    <a href="index.html">Home</a>
                                    <a href="about.html">About</a>
                                    <a href="gallery.html">Gallery</a>
                                    <a href="contact.html">Contact</a>
                                </div>
                            </div>
                            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
                </div>
                </li>
                </ul>
            </div>
        </div>
    </div>

    <h1>Listeamis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ listeami.id }}</td>
            </tr>
            <tr>
                <th>Id_utl</th>
                <td>{{ listeami.idUtl }}</td>
            </tr>
            <tr>
                <th>Idami</th>
                <td>{{ listeami.idami }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('listeamis_index') }}">back to list</a>

    <a href="{{ path('listeamis_edit', {'id': listeami.id}) }}">edit</a>

    {{ include('listeamis/_delete_form.html.twig') }}
{% endblock %}
